*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #020202;
}
body{
    background-color: #F5F5F5;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F5F5F5;
    z-index: 2;
}
nav{
    width: 90%;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: Broadway;
    font-size: 40px;
    font-style:normal;
    font-weight: 400;
    line-height:normal;
    text-transform: uppercase;
    text-decoration: none;
}

.searchForm{
    display: flex;
    justify-content: center;
}
.searchForm button{
    width: 150px;
    height: 44px;
    color: rgba(0, 0, 0, 0.35);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-left: 30px;
}
.mySearch{
    width: 700px;
    height: 44px;
    flex-shrink: 0;
    padding-left: 55px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.35);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url("../images/search.svg"); 
    background-repeat: no-repeat;
    background-position: 20px 10px; 
    background-size: 20px;
    border-color: rgba(0, 0, 0, 0.35);
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.likeIcon{
    padding-right: 10px;
}
.categorieHeader, .marqueHeader {
    width: 90%;
    margin: 10px auto;
}

.categorieHeader ul, .marqueHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.categorieHeader li{
    border-radius: 8px;
    border: 4px solid #F5CF80;
    list-style: none;
}
.categorieHeader li a, .marqueHeader li a{
    text-decoration: none;
    padding: 10px 30px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}
.categorieHeader li a:hover{
    background-color: #F5CF80;
}


.bannerHomePage{
    background-image: url('../images/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 800px;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}
.bannerHomePage h2{
    position: relative;
    top:250px;
    left: 50px;
    width: 500px;
    font-family: Heebo;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
}
.bannerHomePage a{
    border-radius: 5px;
    border: 3px solid #C3272C;
    background: rgba(245, 245, 245, 0.50);
    text-decoration: none;
    padding: 15px 70px;
    font-family: Hind Siliguri;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    left:50px;
    top: 320px;
}
.bannerHomePage a:hover{
    background-color: rgba(195,39,44, 0.50);
}

.marqueHeader li{
    border-radius: 8px;
    border: 4px solid #C3272C;
    list-style: none;
}
.marqueHeader li a{
    display: flex;
    align-items: center;
}
.marqueHeader li a:hover{
    background-color: #C3272C;
}
.marqueHeader img{
    height: 20px;
    padding-left: 10px;
}




.footerText{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    justify-content: center;
    border-top: 2px solid #C3272C;
    font-family: Hind Siliguri;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
    text-transform: uppercase;
    align-items: center;
    margin-top: 50px;
}
